<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centered Links</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    <section class="py-16">
      <div class="container max-w-screen-xl mx-auto px-4">
        <header class="flex flex-col lg:flex-row justify-between lg:mb-20">
          <div class="text-center lg:text-left mb-20 lg:mb-0">
            <div
              class="flex items-center justify-center lg:justify-start gap-2 mb-10"
            >
              <span class="w-20 h-0.5 bg-indigo-700">Risk Management</span>

              <p class="font-medium text-indigo-700 text-xl"></p>
            </div>

            <h1
              class="font-bold text-gray-800 text-4xl md:text-6xl xl:text-7xl mb-10"
            >
              TerraGuard<br />
            </h1>

            <p
              class="font-normal text-gray-500 text-sm md:text-md xl:text-lg mb-10"
            >
              We are a complete risk assessment suite for natural disasters with
              live satellite integration, interactive map server and ML
              inference to identify at risk regions
            </p>

            <div class="space-y-5 lg:space-x-5 mb-10">
              <a
                href="/realtime"
                class="block md:inline px-8 py-3 font-medium bg-indigo-800 text-white text-lg rounded-md hover:bg-indigo-600 transiton ease-in-out duration-300"
                >Real time</a
              >

              <a
                href="/overlay"
                class="block md:inline px-8 py-3 font-medium text-indigo-800 text-lg border-2 border-indigo-800 rounded-md hover:bg-indigo-600 hover:text-white transiton ease-linear duration-300"
                >Overlay</a
              >
            </div>

            <hr class="text-gray-500 mb-5" />
          </div>
        </header>
      </div>
      <!-- container.// -->
    </section>
  </body>
</html>
